
.maindiv {
	margin: 0;
	height: 100%;
	width: 100%;
/*	background-color: #3D3F47;
*/	position: fixed;
	top: 0;
	text-align: center;
	transform: translateX(100%);
	z-index: 10;
}

.maindiv h1 {
  padding-left: 5px;
  padding-right: 5px; 
  position: absolute;
  top: 40%;
  left: 37%;
  cursor: pointer;
}

.maindiv-view {
transform: translateX(0%);
}

.top {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.bottom {
  width: 100%;
  position: absolute;
  bottom: -7px;
    border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

}

.button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: 60px;
    border: none;
    
    border-radius: 6px;
    color: #D7DBDD;
    font-family: 'Raleway', sans-serif;
    white-space: nowrap;
    z-index: 100;
}

.button:hover {
    background-color: #4CAF50;   
    color: white;
}

.button1 {
  background-color: #3D3F47;
}

.hidden {
	display: none;
}

.show {
  display: inherit;
  z-index: 999;
  position: fixed;
  top: 40%;
  right: 20%;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('http://www.t-tutorials.com/data/Image/tutorials/Night-sky-with-stars/space02.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.heading {
  margin-top: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

ul.work a {
  color: #333;
/*  color: #292b2c;
*/  text-decoration: none;
}

ul.work a:hover {
  color: black;
  text-decoration: none;
}

ul.work {
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
}

ul.work li{
  display: inline-block;
  padding-bottom: 4px;
  margin: 0 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  margin-top: 10px;
}

ul.work li:hover {
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 2px solid #000;
}

ul.work li.active {
  color: #000;
  border-bottom: 2px solid #000;
}

.about {
  width: 70%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 100px;

}

.about h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.about h4 {
  margin-bottom: 15px;
}

.cardButton:hover {
  text-decoration: none !important;
  color: white;
  background-color: #3D3F47;
  cursor: pointer;
}

.cardButton a:hover {
  text-decoration: none !important;
  color: white;
  background-color: #3D3F47;
}

.cardButton a:visited {
  text-decoration: none !important;
  color: white;
}

.cardButton a {
  text-decoration: none !important;
  color: white;
}

.buttonWrapper {
  width: 100%;
}

.buttonCenter {
  width: 115px !important;
  margin: 0 auto !important;
}

.componentHeader {
   font-family: 'Raleway', sans-serif;
} 


